footer {
    padding: 2rem 0;
}

footer a.text-muted {
    font-size: 1.5rem;
}

footer a:hover.text-muted {
    color: #000000 !important;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    margin-top: -3rem;
    margin-left: calc(var(--bs-gutter-x) * -0.5);
    margin-right: calc(var(--bs-gutter-x) * -0.5);
    padding: 0;
}

.gallery li {
    flex-grow: 1;
}
    
.gallery img {
    height: 20rem;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}