.layout-header > .col {
  padding-right: 0;
  padding-left: 0;
}

.layout-cell {
}

.layout-cell:hover img {
  cursor: pointer;
  opacity: 0.7;
}

.layout-available {
  border: 1px solid rgb(225, 225, 225);
}

.layout-available .list-group {
  margin: 0 -15px;
}

.layout-available .list-group .list-group-item {
  border-left: none;
  border-right: none;
}

.layout-available .list-group .list-group-item:hover {
  cursor: pointer;
  background-color: var(--light);
}

.layout-available .list-group .list-group-item:first-child,
.layout-available .list-group .list-group-item:last-child {
  border-radius: 0;
}
.layout-available .list-group .list-group-item:last-child {
  border-bottom: none;
}
