@{
    Layout = "_Shared";
    ViewBag.Title = "About";

    string TimeSince(DateTime date)
    {
        var diff = DateTime.Now - date;
        var months = decimal.Round((decimal)diff.TotalDays / (365.25m / 12), 0);
        var years = decimal.Round((decimal)diff.TotalDays / 365.25m, 1);

        if (months > 24)
        {
            return years + " year" + (years != 1 ? "s" : "");
        }

        return months + " month" + (months != 1 ? "s" : "");
    }
}

<div class="row">
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="https://www.toxon.co.uk/assets/profile.jpg" alt="Headshot">
            <div class="card-body">
                <h5 class="card-title">Will Smith</h5>
                <p class="card-text text-justify">
                    <em>tl;dr Software engineer with a camera</em>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="row">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <h5 class="card-title">Work</h5>
                    <p class="card-text text-justify">
                        I'm a Software Engineer working for FundApps (we make software to simplify financial compliance).
                        I mostly use C#, Go, JavaScript, React, but know a large collection of other programming language that come in useful from time to time.
                        I've been working there since April 2015 (@TimeSince(new DateTime(2015, 4, 7))).
                    </p>
                    <p class="card-text text-justify">
                        You can checkout some of my (open source) work on my <a href="https://github.com/will14smith">GitHub</a> profile, this <a href="https://github.com/will14smith/Photography">website</a> is up on there too!
                    </p>
                </div>
            </div>

            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <h5 class="card-title">Photography</h5>
                    <p class="card-text text-justify">
                        I have only recently taken up photography as a hobby, I started in January 2018, about @TimeSince(new DateTime(2018, 1, 1)) ago.
                        I'm still learning and trying new things but generally think of myself as a landscape photographer, although living in London certainly makes that tricky.
                        I've also done some astrophotograph (too much light pollution makes this hard) and take the headshots for my companies team page.
                        Check out the <a asp-area="" asp-controller="Home" asp-action="Gear">gear</a> page if you want to see what I use to take pictures.
                    </p>
                </div>
            </div>

            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <h5 class="card-title">Other hobbies</h5>
                    <p class="card-text text-justify">
                        Other than photography I do a lot of walking & hiking (usually to get to a photography location). I'm also a qualified Archery coach.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>