@{
    ViewBag.Title = "Gear";
}

<div class="row">
    <div class="col-md-12">
        <h2>Main Camera</h2>
    </div>

    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="http://via.placeholder.com/350x350" alt="Placeholder">
            <div class="card-body">
                <h5 class="card-title">Sony A7R2</h5>
                <p class="card-text text-justify">
                    42MP full-frame mirrorless interchangable lens camera
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="http://via.placeholder.com/350x350" alt="Placeholder">
            <div class="card-body">
                <h5 class="card-title">Sony 16-35mm f/2.8 GM</h5>
                <p class="card-text text-justify">
                    16-35mm wide angle lens. This is my main lens, it is on my camera anytime I'm not using another one.
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="http://via.placeholder.com/350x350" alt="Placeholder">
            <div class="card-body">
                <h5 class="card-title">Tamron 28-75mm f/2.8</h5>
                <p class="card-text text-justify">
                    <em>coming soon</em> General purpose lens, currently on pre-order
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="http://via.placeholder.com/350x350" alt="Placeholder">
            <div class="card-body">
                <h5 class="card-title">Sony 70-200mm f/4 G</h5>
                <p class="card-text text-justify">
                    Small, lightweight telephoto zoom. I chose it over the f/2.8 GM because of the price and weight, since I mostly shooting landscapes I'm stopped down to f/8 anyway.
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="http://via.placeholder.com/350x350" alt="Placeholder">
            <div class="card-body">
                <h5 class="card-title">Sigma 150-600mm f/5-6.3 (C, Canon)</h5>
                <p class="card-text text-justify">
                    Super telephoto lens, comes in strangely useful for landscape photography.
                    When I'm feeling patient it works well for wildlife too.
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="http://via.placeholder.com/350x350" alt="Placeholder">
            <div class="card-body">
                <h5 class="card-title">Canon 50mm f/1.8 STM</h5>
                <p class="card-text text-justify">
                    At £100 it was too tempting not to get! It is currently filling the gap between wide angle and telephoto.
                    The fact it is tiny and super lightweight also helps.
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <h2>Other Camera</h2>
    </div>

    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="http://via.placeholder.com/350x350" alt="Placeholder">
            <div class="card-body">
                <h5 class="card-title">Sony RX100V</h5>
                <p class="card-text text-justify">
                    I use this for video and timelapses. It can do 4k and 1000 fps (not at the same time unfortunately) and is tiny.
                    Even with 6 spare batteries it is lighter than most of my lenses!
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="http://via.placeholder.com/350x350" alt="Placeholder">
            <div class="card-body">
                <h5 class="card-title">Ultrapod II</h5>
                <p class="card-text text-justify">
                    Awesome tiny tripod. I quite often use it as a handle when videoing on the move.
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <h2>Accessories</h2>
    </div>

    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <h5 class="card-title">Tripod</h5>
                <p class="card-text text-justify">
                    No brand, nothing special tripod off Amazon. Made of aluminium with a ball head & arca-swiss mount. Main requirement is that is light and packs down small.
                    Currently looking a carbon fibre replacement
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <h5 class="card-title">Arca-swiss L-braket</h5>
                <p class="card-text text-justify">
                    Best accessory ever. Seriously... I was amazed at how useful it was to be able to attach the camera to the tripod how I wanted, when I wanted.
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <h5 class="card-title">Remote</h5>
                <p class="card-text text-justify">
                    MultiUSB remote, for avoiding any extra vibrations and taking exposures >30 seconds.
                    Think it was the cheapest on Amazon
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <h5 class="card-title">Filters</h5>
                <p class="card-text text-justify">
                    All my lenses have UV filters on them acting a protector.
                    I also have 82mm CPL, ND200, ND1000 filters and various adapters so I can attach them to everything but the 150-600 (it has a 95mm filter!)
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <h5 class="card-title">Headtorch</h5>
                <p class="card-text text-justify">
                    Petzl Reactik+, small powerful headtorch with USB charging & bluetooth. I didn't realise how good adaptive beams where until I disabled it.
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <h5 class="card-title">Power bank</h5>
                <p class="card-text text-justify">
                    20,000 mAh USB power bank, useful for when my phone, camera(s), headtorch, etc... is running low on battery in the middle of nowhere
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <h2>Graveyard</h2>
    </div>

    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <h5 class="card-title">Sony 24-240mm f/3.5-6.3</h5>
                <p class="card-text text-justify">
                    Was the first lens I got. Super versitile but slowly got replaced by higher quality, more specific lenses. Sold on eBay.
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <h5 class="card-title">Samyang 24mm f/1.4</h5>
                <p class="card-text text-justify">
                    Second lens I bought. I was drawn in by the wide angle & aperature for astrophotography. I was never able to get any good shots because I hadn't got the hang of manual focus yet. Sold on eBay.
                </p>
            </div>
        </div>
    </div>

</div>