@using Toxon.Photography.Generation.Models
@inherits RazorLight.TemplatePage<IEnumerable<PhotographViewModel>>

@{
    Layout = "_Shared";
    ViewBag.Title = "Home";

    var photographs = Model.ToList();
}

@if (!photographs.Any())
{
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-muted">No images, check back later!</h3>
        </div>
    </div>
}
else
{
    <ul class="gallery">
        @foreach (var vm in photographs)
        {
            var photograph = vm.Photograph;

            <li>
                <img src="@(vm.ThumbnailUrl ?? $"http://via.placeholder.com/350x233?text=Processing...")" alt="@photograph.Title" title="@photograph.Title" loading="lazy" onClick="openModal(this)">
            </li>
        }
    </ul>
    
    <div class="modal fade" id="image-modal">
        <div class="modal-dialog">
            <div class="modal-body">
            </div>
        </div>
    </div>
    
    <script>
        const modalElem = document.querySelector("#image-modal");
        const modalImgElem = document.createElement("img");
        modalImgElem.style.maxWidth = "100%";
        modalElem.querySelector(".modal-body").append(modalImgElem);
        
        function openModal(sender) {            
            modalImgElem.src = sender.src;
            modalImgElem.alt = sender.alt;
            modalImgElem.title = sender.title;
            
            const modal = bootstrap.Modal.getOrCreateInstance(modalElem);
            modal.show();
        }
    </script>
}
