@using Toxon.Photography.Generation.Models
@inherits RazorLight.TemplatePage<IEnumerable<PhotographViewModel>>

@{
    Layout = "_Shared";
    ViewBag.Title = "Home";

    var photographs = Model.ToList();
}

<div class="row align-items-center">
    @foreach (var vm in photographs)
    {
        var photograph = vm.Photograph;
        var width = vm.Photograph.Layout.Width ?? 1;
        @* TODO handle height *@

        <div class="col-md-@(4*width)">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top gallery-img" src="@(vm.ThumbnailUrl ?? $"http://via.placeholder.com/{350*width}x233?text=Processing...")" alt="@photograph.Title" title="@photograph.Title">
            </div>
        </div>
    }
    @if (!photographs.Any())
    {
        <div class="col-md-12">
            <h3 class="text-muted">No images, check back later!</h3>
        </div>
    }
</div>
